*{
	padding:0px;
   	margin: 0px;
}
body, html{
	 background-color: #000000;
  	 
   	height: 100%
	font-family: 'Montserrat', sans-serif;
	
 }

 body{
 	overflow-y: hidden;
 }


#gradient
{
  width: 100%;
  height: 100%;
  top:0;
  position: absolute;
  z-index: 0;
  
}

#stripe{
	background: transparent;
	z-index: 2;
	position: relative;
	letter-spacing: 2px;
	top: -20px;
}

.button{
	font-size: 100%;
	color: white;
}

.button:hover{
	font-size: 110%;
	cursor: pointer;
	color: white;
}
h2{
	
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	letter-spacing: 1px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	outline: none;

}