*{
	padding:0px;
   	margin: 0px;
}
body, html{
	 background-color: #000000;
  	 
   	height: 100%;
	font-family: 'Montserrat', sans-serif;
	
 }

#gradient
{
  width: 100%;
  height: 300%;
  top:0;
  position: absolute;
  z-index: 0;
  display: block;
  
}

#stripe{
	background: transparent;
	z-index: 2;
	position: relative;
	letter-spacing: 2px;
	top: -20px;
}

.button{
	font-size: 100%;
	color: white;
}

.button:hover{
	font-size: 110%;
	cursor: pointer;
	color: white;
}

#projects{
	font-size: 110%;
}
h2{
	
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	letter-spacing: 1px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	outline: none;
	font-size: 200%;
	color: white;

}

img{
	width:100%;
	height: auto;
	border-radius: 20px;
	margin-top:20px;
}

.wrapper{
	background-color: #282728;
	border-radius: 20px;
	padding:15px;
	margin-top:10px;

}
h3{
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size:125%;
}
p{
	color:white;
	font-style: italic;
	font-family: 'Montserrat', sans-serif;
}

img:hover{
	border:5px solid white;
	width:105%;
	z-index: 3;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	cursor: pointer;
}