body, html{
	margin:0;
	height:100%;
	width:100%;
	font-family: 'Montserrat', sans-serif;
}



#stripe{
	background: black;
	z-index: 2;
	position: relative;
	letter-spacing: 2px;
}


#splash{
	z-index: 2;
	position: relative;
	margin-top:5%;
	margin-bottom: 0px;
	padding: 0px;
	
}
#splash img{
	margin: 0;
    z-index: 2;
    position: relative;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    height: 270px;
    margin-bottom: 5%;
	width: auto;
}

#holder{
	z-index: 2;
	background: transparent;
	position: relative;
	margin-left:20%;
	margin-right: 20%;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 0px;

}



h2{
	
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	letter-spacing: 1px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	outline: none;

}


canvas{
 	height: 100%;
 	width: 100%;
 	transition: background 0.5s;
	z-index: 0;
	position: absolute;
 	background: black; /* fallback for old browsers */
	
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	margin:0px;
}


.button{
	font-size: 100%;
	color: white;
}

#home{
	font-size: 110%;
}
.button:hover{
	font-size: 110%;
	cursor: pointer;
}


#title{
	
	font-size: 250%;
	font-weight: 400;
	letter-spacing: 8px;
	color: white;
	padding-bottom: 0;
	text-align: center;
	margin-top: 0px;
	left: 30.5%;
	position: absolute;
	
}
#titleholder{
	
	width: 100%;
	position: relative;
}

#title:hover{
	font-size: 260%;
	cursor: pointer;
}

#key{
	font-size: 125%;
	color: #70747a;
	letter-spacing: 5px;
	text-align: center;

}

i{
	color: white;
	text-align: center;
	padding-top:5%;
	font-size: 225%;

	
}

.github{
	padding-left:37%;
}

.linkedin{
	padding-right: 37%;
}

i:hover{
	font-size: 325%;
	cursor: pointer;
	transition: 0.5s;
	-webkit-transition:  0.5s;
	-moz-transition: 0.5s;
}

#copyright{
	color: white;
	text-align: center;
	font-size: 100%;
	position: fixed;
	bottom: 0;
	width: 100%;
	font-style: italic;
}

